@font-face {
    font-family: Japanese;
    src: url(JP-Light.otf);
}

body {
    font-family: Japanese;
    background-color: white;
    margin: 0px;
}

nav {
    padding: 20px;
    margin: 0px;
    background-color: white;
    box-shadow: 0 0 10px rgb(84, 84, 84);
    border-radius: 0 0 15px 15px;
    position: fixed;
    top: 0px;
    z-index: 5;
    left: 0px;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 2%;
    font: bold 15px Japanese;
}

nav a:hover {
    color: yellow;
    transition: color 0.3s;
}

nav a:active {
    color: red;
    transition: color 0.3s;
}

header section {
    padding: 5%;
    background-color: yellow;
}

main {
    min-height: 100vh;
    padding-top: 20px;
    width: auto;
    margin: 3% 5%;
    box-sizing: border-box;
}

.quicklinks {
    margin-top: 5%;
    padding: 5%;
    background-color: yellow;
}

h1 {
    font: 50px Japanese;
    font-weight: bold
}

p {
    font: bold 18px Japanese;
}

figure {
    margin: 0px;
}

main img {
    max-width: 100%;
    border-radius: 5px;
}

main img:hover {
    opacity: 0.6;
    transition: opacity 0.3s;
}

main figcaption {
    font: 20px Japanese;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.flex-container {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-container-nowrap {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.flex-footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    text-align: center;
}

.flex-footer div {
    margin: 1%;
    width: 30%;
}

.flex-container .item {
    margin: 1%;
    width: 48%;
}

footer {
    text-align: left;
    margin: 0px;
    background-color: white;
    background-color: black;
}

footer h4 {
    color: yellow;
    font: bold 25px Japanese;
    margin-top: 2%;
    margin-bottom: 3%;
}

footer a {
    text-decoration: none;
    color: yellow;
    padding: 3px;
    font: bold 18px Japanese;
    display: block;
}

footer a:hover {
    opacity: 0.6;
    transition: opacity 0.3s;
}

footer p {
    color: yellow;
    text-align: center;
    border-radius: 20px 20px 0 0;
    padding: 1%;
    font: bold 15px Japanese;
    margin: 1%;
}

.block-label {
    font: bold 15px Japanese;
    margin-bottom: 5%;
    display: block;
}

.inline-label {
    font: bold 15px Japanese;
    margin-bottom: 5%;
    display: inline;
}

input[type="text"] {
    padding: 3%;
    font: bold 15px Japanese;
    width: 75%;
    margin-top: 1%;
    border-radius: 10px;
}

[type="submit"] {
    background-color: yellow;
    padding: 3%;
    font: bold 15px Japanese;
    display: block;
    margin-top: 2%;
    width: 25%;
    text-align: center
}

legend {
    font: bold 15px Japanese;
}

fieldset {
    padding: 4%;
    border-radius: 10px;
}

textarea {
    width: 80%;
    max-width: 100%;
    font: bold 15px Japanese;
    display: block;
    border-radius: 10px;
    padding: 1%;
    resize: none;
}

main h2 {
    font: 30px Japanese;
    font-weight: bold
}

ul li {
    font: bold 15px Japanese;
}

ul.alert li {
    list-style-type: none;
    font: bold 15px Japanese;
    color: white;
    background-color: red;
    padding: 3%;
    margin: 1% 0;
}

ul.pro li {
    list-style-type: none;
    font: bold 15px Japanese;
    color: black;
    background-color: yellow;
    padding: 3%;
    margin: 1% 0;
}

table td,
table th {
    padding: 1%;
    border: 1px solid black;
    font: bold 16px Japanese;
    text-align: center;
    width: 20%;
}